@media(min-width:700px){

}
body {
  background-color: LightGray;
  font-family: "Arial";
}

.navbar {
display: flex;
}

.navbar div {
  background-color: gray;
  border: 1px black solid;
  padding: .1%;
  font-size: 30px;
}

.admin {
  background-color: gray;
  color: black;
  display: flex;
  padding: 10px;
  border: 1px black solid;
  align: right;
}

.admin div {
  display: flex;
  text-align: right;
  margin-left: auto;
}

.learn {
  flex:1;
}

.read {
  flex:1;
}

.watch {
  flex:1;
}

.nav-icon {
  flex: 2;
}

.navbar i {
  font-size: 15px;
  padding-right: 7px;
}

.navbar div.hover {
  background-color: #ddd;
  color: black;
}

.navbar div.active {
  background-color: #4CAF50;
  color: white;

}


.nav-icon {
  text-align: right;
  font-size: 30px;
}

.hero-profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.hero-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.hero-profiles div {
  /* border: 1px white solid; */
  background-color: white;
  justify-content: space-between;
  margin: 1%;
  flex-basis: 20%;
  flex-grow: 1;
  box-shadow: 0px 0px 10px black;
}

.material-icons {
  color: white;
}

.views {
  align-self: flex-end;
  padding: 2%;
}

.user-input {
  width: 100%;
  height: 50px;
  flex-grow: 1;
  font-size: 15px;
  background-color: LightGray;
  color: DarkGray;
  border: none;
}


.iron-fist .hero-pictures {
  background-image: url(source-images/iron_fist_comics.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: white;
  text-shadow: none;
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.iron-fist .hero-info {
margin: 0;
padding: 5%;
box-shadow: none;
}

.luke-cage .hero-pictures {
  background-image: url(source-images/luke_cage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: white;
  text-shadow: none;
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.luke-cage .hero-info {
margin: 0;
padding: 5%;
box-shadow: none;
}
