@media screen and (max-width:700px){


  .admin p {
    text-align: center;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    display: inline-block;
  }

  .navbar {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }




  .nav-icon {
    display: hidden;
    display: img ()
  }

  .nav-icon img {
    display: none;
  }

  .nav-icon div {
    display: hidden;
  }

  .navbar .material-icons {
    flex-grow: 1;
    color: red;
    text-shadow: 0px 0px 7px black;
    font-size: 100%;
  }

  .learn {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    font-size: auto;
  }
  .read {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    font-size: auto;
  }

  .watch {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    font-size: auto;
  }

  .hero-profiles {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

  .hero-profiles div {
    margin-bottom: 10px;
  }
}

body {
  background-color: LightGray;
  font-family: "Arial";
}

.navbar {
display: flex;
text-align: center;
color: white;
width: 100%;
flex-grow: 1;
}

.navbar div {
  background-color: gray;
  outline: 1px gray;
  padding: 0;
  font-size: 20px;
  display: inline-block;
  flex-grow: 1;
}

.navbar .material-icons {
  font-size: 20px;
  text-align: center;
  color: red;
}

.admin {
  background-color: gray;
  color: black;
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 20px;
  text-align: right;
  width: 100%;
  flex-grow: 1;

}

.admin div {
  display: inline-block;
  text-align: right;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 2px;
}

.admin img {
  height: 30px;
  width: auto;
  padding: 3px;
}

.learn {
  flex:1;
}

.learn div {
  justify-content: center;
  align-items: center;
}

.read {
  flex:1;
}

.watch {
  flex:1;
}

.nav-icon {
  flex: 4;
}

.navbar i {
  font-size: 15px;
  padding-right: 7px;
}

.nav-icon {
  text-align: right;
  border: 10px black;
}

.nav-icon img {
  height: 50px;
  width: auto;
  outline: 10px solid black;
  outline-offset: -20px;
  padding: 20px;
}

.hero-profiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}


.hero-profiles div {
  background-color: white;
  justify-content: space-between;
  margin: 1%;
  flex-basis: 20%;
  flex-grow: 1;
  box-shadow: 0px 0px 10px black;
}

.hero-pictures {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: white;
  text-shadow: none;
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.hero-pictures .material-icons {
  flex-grow: 1;
  flex-shrink: 1;
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 50px;
}

.views {
  justify-content: flex-end;
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 20px;
  flex-shrink: 1;
}

.user-input {
  width: 100%;
  height: 50px;
  flex-grow: 1;
  font-size: 15px;
  background-color: LightGray;
  color: DarkGray;
  border: none;
}


.iron-fist .hero-pictures {
  background-image: url(source-images/iron_fist_comics.jpeg);
  margin: 0;
  box-shadow: none;
}

.iron-fist .hero-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.luke-cage .hero-pictures {
  background-image: url(source-images/luke_cage.jpg);
  box-shadow: none;
  margin: 0;
}

.luke-cage .hero-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.she-hulk .hero-pictures {
  background-image: url(source-images/she-hulk.jpg);
  box-shadow: none;
  margin: 0;
}

.she-hulk .hero-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.silver-sable .hero-pictures {
  background-image: url(source-images/silver-sable.jpg);
  box-shadow: none;
  margin: 0;
}

.silver-sable .hero-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.colleen-wing .hero-pictures {
  background-image: url(source-images/colleen_wing.jpg);
  margin: 0;
  box-shadow: none;
}

.colleen-wing .hero-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.misty-knight .hero-pictures {
  background-image: url(source-images/misty_knight.jpg);
  margin: 0;
  box-shadow: none;
}

.misty-knight .hero-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.moon-knight .hero-pictures {
  background-image: url(source-images/moon_knight.jpeg);
  margin: 0;
  box-shadow: none;
}

.moon-knight .hero-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.punisher .hero-pictures {
  background-image: url(source-images/the_punisher.jpg);
  margin: 0;
  box-shadow: none;
}

.punisher .hero-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}
