body {
  background-color: LightGray;
}




.navbar {
  color: black;
  display: flex;
  background-color: gray;
}

.navbar div {
  border: 1px black solid;
  padding: 10px;
}

.admin-username {
  background-color: gray;
  color: black;
  display: flex;
  padding: 10px;
  border: 1px black solid;
  justify-content: flex-end;
}

.learn {
  flex:1;
}

.read {
  flex:1;
}

.watch {
  flex:1;
}

.nav-icon {
  flex: 2;
}

.navbar i {
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding-right: 7px;
}

.navbar div.hover {
  background-color: #ddd;
  color: black;
}

.navbar div.active {
  background-color: #4CAF50;
  color: white;
}





#nav-icon {
  float: right;
  text-align: center;
  font-size: 30px;
}
